<div class="container">
    <div class="headerContainer">
        <h2 class="leftSide">Нови открития в медицината</h2>
    
        <div class="rightSide">
            <h6> <img src="../../assets/images/clock.png" class="clock">06.04.2023 10:45 </h6>
            <h5>Ивета Петкова Петрова</h5>
        </div>
    </div>

    <div class="containerBtns">
        <div class="btnsDiv">
            <button 
                class="btn toThemesBtn" 
                (click)="navigateMainPage()"> 
                Назад 
            </button>
            <button 
                class="btn answer" 
                (click)="scrollToBottom()">
                <img 
                    src="../../assets/images/redSendArrow.png" 
                    class="sendArrow"> 
                Отговори 
            </button>
        </div>
        
        <div class="pagesDiv2">
            <mat-button-toggle-group>
                <div 
                    class="backBtn">
                    <img 
                        src="../../assets/images/backArrow.png" 
                        class="backImg">
                </div>
                <div style="display: flex;" class="btnPageNumbers">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="1"> 1 </mat-button-toggle>
                        <mat-button-toggle value="2"> 2 </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="forwardBtn"><img src="../../assets/images/forwardArrow.png" class="forwardImg"></div>
            </mat-button-toggle-group>
        </div>
    </div>

    <ng-container > 
        <app-coment *ngFor="let coment in getAllComments; let index = index;" [coment]="coment" [index]="index" (getAllComents)="getAllComments()  "></app-coment>
    </ng-container>

    <div class="pagesContainer">
        <mat-button-toggle-group>
            <div class="backBtn"><img src="../../assets/images/backArrow.png" class="backImg"></div>
            <div style="display: flex;" class="btnPageNumbers">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="1"> 1 </mat-button-toggle>
                    <mat-button-toggle value="2"> 2 </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="forwardBtn"><img src="../../assets/images/forwardArrow.png" class="forwardImg"></div>
        </mat-button-toggle-group>
    </div>
</div>

    <app-editor></app-editor>

<div>
    <button 
        class="btn leadToTopBtn" 
        (click)="scrollToTop()">
        <img 
            src="../../assets/images/upArrow.png" 
            class="upArrow">
    </button>
</div>


